<section class="hero">
  <div class="hero__info__container">
    <h2 class="logotipo__container">
      <img class="logotipo__tidal" src="../../assets/images/logos/tidal-logo@3x.png" alt="logotipo Tidal">
    </h2>
    <h3 class="main__claim">TIDAL Premium llega a España con Vodafone</h3>
    <p class="sub__claim">El futuro de la música ya está aquí, ahora TIDAL de regalo con tu tarifa Vodafone</p>
    <p class="call__to__action bold">3 meses gratis con tu tarifa</p>
    <a class="primary__button" href="#" alt="botón activar Tidal">Activar</a>
  </div>
</section>
