<section class="main__information">
  <div class="breadcums__container--hidden">
    <ul class="breadcum__list">
      <li class="breadcum__item">Inicio</li>
      <li class="breadcum__item">Tidal</li>
    </ul>
  </div>
  <div class="main__information__container">
    <p class="title__information">Descubre por qué TIDAL es mucho más que una plataforma de música</p>
    <div class="carrousel__container">
      <div class="carrousel__item">
        <div class="item__image image__1" aria-label="imagen de hombre en un espacio abierto"></div>
        <div class="item__text__container">
          <p class="item__title bold">Estrenos en Exclusiva</p>
          <p class="item__description">TIDAL ha estrenado en exclusiva los mejores álbumes de los dos últimos años y siempre con la mejor calidad de sonido. </p>
        </div>
      </div>
      <div class="carrousel__item">
        <div class="item__image image__2" aria-label="previsualización vídeo musical"></div>
        <div class="item__text__container">
          <p class="item__title bold">El mejor contenido audiovisual</p>
          <p class="item__description">Más de 200 mil videos musicales en alta definición, streaming de conciertos  en directo y series originales.</p>
        </div>
      </div>
      <div class="carrousel__item">
        <div class="item__image image__3" aria-label="imagen multitud en un concierto grabando con sus móviles"></div>
        <div class="item__text__container">
          <p class="item__title bold">Mucho más que música</p>
          <p class="item__description">Recomendaciones de conciertos según tus gustos y localización geográfica. Gana entradas para tus conciertos preferidos. </p>
        </div>
      </div>
    </div>
    <div class="carrousel__button">
      <ul class="carrousel__list">
        <li class="button__item">
          <div class="circle one"></div>
        </li>
        <li class="button__item">
          <div class="circle two"></div>
        </li>
      </ul>
    </div>
  </div>
</section>
