<main class="page__main">
  <partial src="_hero.html"></partial>
  <partial src="_main__information.html"></partial>
  <section class="secondary__information">
    <div class="secondary__information__container">
      <p class="secondary__title">Además podrás disfrutar de:</p>
      <ul class="list__left">
        <li>
          <img src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">El más extenso catálogo de música en alta calidad.</p>
        </li>
        <li>
          <img src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">Reproducción de música sin conexión.</p>
        </li>
        <li>
          <img src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">Multidispositivo: hasta 3 dispositivos en modo sin conexión.</p>
        </li>
      </ul>
      <ul class="list__right">
        <li>
          <img src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">Podrás compartir música a través de redes sociales.</p> 
        </li>
        <li>
          <img src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">Función “Crossfade”: evita el corte entre pistas al reproducir varias canciones.</p>
        </li>
        <li>
          <img src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">Opción “Workout”: propone canciones según los gustos del usuario y el ritmo de carrera.</p>
        </li>
      </ul>
    </div>
  </section>
</main>
