<section class="secondary__information">
  <div class="secondary__information__container">
    <p class="title__information">Además podrás disfrutar de:</p>
    <div class="list__container">
      <ul class="list__left">
        <li class="list__item first">
          <img class="check__icon" src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">El más <span class="bold">extenso catálogo de música en alta calidad.</span></p>
        </li>
        <li class="list__item">
          <img class="check__icon" src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">Reproducción de música <span class="bold">sin conexión.</span></p>
        </li>
        <li class="list__item">
          <img class="check__icon" src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description"><span class="bold">Multidispositivo</span>: hasta 3 dispositivos en modo sin conexión.</p>
        </li>
      </ul>
      <ul class="list__right">
        <li class="list__item">
          <img class="check__icon" src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">Podrás compartir música a través de <span class="bold">redes sociales.</span></p> 
        </li>
        <li class="list__item">
          <img class="check__icon" src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">Función <span class="bold">“Crossfade”</span>: evita el corte entre pistas al reproducir varias canciones.</p>
        </li>
        <li class="list__item">
          <img class="check__icon" src="assets/images/tick.svg" alt="símbolo check listado">
          <p class="item__list__description">Opción <span class="bold">“Workout”</span>: propone canciones según los gustos del usuario y el ritmo de carrera.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
