$primary-color: #e60000;
$primary-background-color: #333333;
$secondary-background-color: #666666;
$font-primary-color: #fff;
$primary-font: 'Vodafone Regular', Arial, Helvetica, sans-serif;
$font-bold: 'Vodafone Bold', Arial, Helvetica, sans-serif;
$secondary-font: 'Vodafone LT Regular', Arial, Helvetica, sans-serif;
