//Breadcumbs
.breadcums__container--hidden {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
    background: $secondary-background-color;
  }
}
.breadcum__list {
  width: 90%;
  max-width: 1020px;;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
}
.breadcum__item::after {
  content: url('../images/breadcum__arrow.png');
  display:block;
  float: right;
  margin: 0 10px;
}
.breadcum__item:last-child::after {
  display: none;
}
//Main information
.main__body {
  background-color: $primary-background-color;
}
.main__information {
  text-align: center;
  overflow: hidden;
}
.main__information__container {
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 80%;
  }
  @media screen and (min-width: 768px) {
    width: 90%;
    max-width: 1150px;
  }
}
.title__information {
  text-align: center;
  font-family: $secondary-font;
  font-size: 26px;
  padding: 30px 0;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    padding: 40px 0;
  }
  @media screen and (min-width: 1280px) {
    font-size: 36px;
    padding: 50px 0;
  }
}
.carrousel__container {
  display: flex;
  width: 250%;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    width: 160%;
  }
  @media screen and (min-width: 1280px) {
    width: 100%;
  }
}
.carrousel__item{
  width: 260px;
  border: 1px solid #999999;
  @media screen and (min-width: 768px) {
    width: 344px;
  }
}
.item__img {
  width: 100%;
}
.item__title {
  font-size: 18px;
  padding: 20px 0;
}
.item__description {
  padding-bottom: 20px;
}
.item__text__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.carrousel__list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;

}
.circle {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 5px;
}
