.breadcums__container--hidden {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
    background: $secondary-background-color;
  }
}
.breadcum__list {
  width: 90%;
  max-width: 1020px;;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
}
.breadcum__item::after {
  content: url('../images/breadcum__arrow.png');
  display:block;
  float: right;
  margin: 0 10px;
}
.breadcum__item:last-child::after {
  display: none;
}
.main__body {
  background-color: $primary-background-color;
}
.main__information {
  text-align: center;
  overflow: hidden;
}
.main__information__container {
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 80%;
  }
  @media screen and (min-width: 768px) {
    width: 90%;
    max-width: 1150px;
  }
}
.title__information {
  text-align: center;
  font-family: $secondary-font;
  font-size: 26px;
  padding: 30px 0;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    padding: 40px 0;
  }
  @media screen and (min-width: 1280px) {
    font-size: 36px;
    padding: 50px 0;
  }
}
.carrousel__item{
  border: 1px solid #999999;
  height: 274px;
  margin: 0 20px;
  @media screen and (min-width: 768px) {
    width: 344px;
    height: auto;
  }
}
.item__image{
  width: 100%;
  height: 120px;
  background-size: cover;
  @media screen and (min-width: 768px) {
    height: 160px;
  }
}
.image__1{
  background-image: url('../images/carrousel/img__carousel__1__mobile.jpg');

  @media screen and (min-width: 768px) {
    background-image: url('../images/carrousel/img__carousel__1__tablet.jpg')
  }
}
.image__2 {
  background-image: url('../images/carrousel/img__carousel__2__mobile.jpg');
  @media screen and (min-width: 768px) {
    background-image: url('../images/carrousel/img__carousel__2__tablet.jpg')
  }
}
.image__3 {
  background-image: url('../images/carrousel/img__carousel__3__mobile.jpg');
  @media screen and (min-width: 768px) {
    background-image: url('../images/carrousel/img__carousel__3__tablet.jpg')
  }
}
.item__title {
  font-size: 18px;
  padding: 20px 0;
}
.item__description {
  padding-bottom: 20px;
}
.item__text__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.slider {
  @media all and (min-width: 768px) {
    width:728px;
    margin: 0 auto;
  }
  @media all and (min-width: 1200px) {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slider__item {
  width: 280px;
  height: 294px;
  @media all and (min-width: 768px) {
    width: 364px;
    height: 296px;
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  @media all and (min-width: 768px) {
    margin-top: 20px;
  }
  button {
      background: transparent;
      border-radius: 50%;
      border: 2px solid white;
      margin: 0 5px;
      color: transparent;
  }
  .slick-active {
    button {
      background: white;
    }
  }
}
